*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Arvo', serif;
}
div {


    display: flex;
    justify-content: center; 
    
    }

    .jaina {
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    
h2{
    font-size: 30px;
}
h2{

    color:#e74c3c;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
}

hr{

    border-top: 1px solid #e74c3d;
    width: 160px;
    box-sizing: content-box;
    height: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}

.arthas{

    align-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 200px;
    padding-top: 30px;
    margin-bottom: 200px;
}
.arthas a{

    color: #e74c3c;
    text-align: center;
    align-content: center;
    text-decoration: none;
}

.arthas p a:hover{

    color: #e74c3c;
    text-decoration: none;

}

.arthas p {
    font-size: 21px;
    font-weight: 300;
    text-align: center;
}
.arthas p {
    margin: 0 0 10px;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        text-align: center;
}

@media (max-width: 1060px) {

    div {


        display: flex;
        justify-content: center; 
        
        }
    
        .jaina {
            margin-right: auto;
            margin-left: auto;
            text-align: center;
        }
        
    h2{
        font-size: 30px;
    }
    h2{
    
        color:#e74c3c;
        text-transform: uppercase;
        text-align: center;
        margin-top: 10px;
    }
    
    hr{
    
        border-top: 1px solid #e74c3d;
        width: 160px;
        box-sizing: content-box;
        height: 0;
        margin-right: auto;
        margin-left: auto;
        margin-top: 50px;
    }
    
    .arthas{
    
        align-content: center;
        margin-left: auto;
        margin-right: auto;
        padding-left: 100px;
        padding-right: 200px;
        padding-top: 30px;
        margin-bottom: 200px;
    }
    .arthas a{
    
        color: #e74c3c;
        text-align: center;
        align-content: center;
        text-decoration: none;
    }
    
    .arthas p a:hover{
    
        color: #e74c3c;
        text-decoration: none;
    
    }
    
    .arthas p {
        font-size: 21px;
        font-weight: 300;
        text-align: center;
    }
    .arthas p {
        margin: 0 0 10px;
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            text-align: center;
    }
}

