*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    margin:0;
}

html {
    font-family: 'Arvo', serif;
}
div {


    display: flex;
    justify-content: center; 
    
    }

    .jaina {
        margin-right: 4vw;
        margin-left: 4vw;
        text-align: center;
        display:grid;
        grid-column: 1f;
        line-height: 1em;
        word-spacing: 1px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
h2{
    font-size: 30px;
}
h2{

    color:#e74c3c;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

hr{

    border-top: 1px solid #e74c3d;
    width: 160px;
    box-sizing: content-box;
    height: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 20px;
}


a{

    color: #e74c3c;
    text-align: center;
    align-content: center;
    text-decoration: none;
    margin-left: 5px;
}

a:hover{

    color: #e74c3c;
    text-decoration: none;

}

p {
    font-size: 20px;
    text-align: center;
    line-height: 1em;
  
}

.row {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px;
}


.contenant {

    background-color: #f5f5f5;
    display: grid;
    grid-column: 1fr;
    margin-left: -80px;
    margin-right: -80px;
    padding: 15px;

}
.tableau {

    display: grid;
    grid-column: 1fr;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
}

.tableau a {

    border: solid 1px;
    border-radius: 1vh;
    background-color: white;
    border-color: #f5f5f5;
}

.tableau a:hover{

    background-color: #f5f5f5;
}

.fa-stack{

    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
    font-size: 4em;
    justify-content: center;
}
@media screen and (min-width: 600px) and (max-width: 1024px) {

    div {
        display: flex;
        justify-content: center; 
        
        }
    
        .jaina {
            margin-right: auto;
            margin-left: auto;
            text-align: center;
            display:grid;
            grid-column: 1f;
            line-height: 1em;
            word-spacing: 1px;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        
    h2{
        font-size: 30px;
    }
    h2{
    
        color:#e74c3c;
        text-transform: uppercase;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    
    hr{
    
        border-top: 1px solid #e74c3d;
        width: 160px;
        box-sizing: content-box;
        height: 0;
        margin-right: auto;
        margin-left: auto;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    
    
    a{
    
        color: #e74d3c;
        text-align: center;
        align-content: center;
        text-decoration: none;
        margin-left: 5px;
    }
    
    a:hover{
    
        color: #e74c3c;
        text-decoration: none;
    }
    
    p {
        font-size: 20px;
        text-align: center;
        line-height: 1em;
    }  

    .row {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    
}

@media screen and (min-width: 320px) and (max-width: 600px) {

    div {


        display: flex;
        justify-content: center; 
        
        }
    
        .jaina {
            margin-right: auto;
            margin-left: auto;
            text-align: center;
            display:grid;
            grid-column: 1f;
            line-height: 1em;
            word-spacing: 1px;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        
    h2{
        font-size: 30px;
    }
    h2{
    
        color:#e74c3c;
        text-transform: uppercase;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    
    hr{
    
        border-top: 1px solid #e74c3d;
        width: 160px;
        box-sizing: content-box;
        height: 0;
        margin-right: auto;
        margin-left: auto;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    
    
    a{
    
        color: #e74c3c;
        text-align: center;
        align-content: center;
        text-decoration: none;
        margin-left: 5px;
    }
    
    a:hover{
    
        color: #e74c3c;
        text-decoration: none;
    
    }
    
    p {
        font-size: 16px;
        text-align: center;
        line-height: 1em;
    }  
    
    .row {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
